@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-overlay::after {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: black;
}
